body
{
    background: #36393e;
    margin: 0;
    overflow: hidden;
}

.curved
{
    background: #7289da;
    color: #fff;
    text-align: center;
}

.curved h1
{
    font-size: 6rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0 5rem 0 5rem;
}

.curved p
{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 2rem 5rem 2rem 4rem;
}

.curved svg
{
    display: block;
}

.curved-upper svg
{
    display: block;
}

img
{
    width: 50%;
    height: 50%;
    margin-left: 10%;
    border-radius: 35px;
}