html
{
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word
}

#bottom
{
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

#encodediv
{
    display: block;
    float: left;
    max-width: 500px;
    word-wrap: break-word
}

#decodediv
{
    max-width: 500px;
    word-wrap: break-word
}

#encode
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: white;
    background-color: #ea4335;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

#encode:hover
{
    box-shadow: 0px 0px 10px #c4c4c4;
}

#encode:active
{
    background-color: #34a853;
}

#decode
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: white;
    background-color: #4285f4;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

#decode:hover
{
    box-shadow: 0px 0px 10px #c4c4c4;
}

#decode:active
{
    background-color: #fbbc05;
}

#copy1
{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    color: white;
    background-color: #34a853;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#copy1:hover
{
    box-shadow: 0px 0px 10px #c4c4c4;
}

#copy1:active
{
    background-color: #fbbc05;
}

#copy2
{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    color: white;
    background-color: #fbbc05;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#copy2:hover
{
    box-shadow: 0px 0px 10px #c4c4c4;
}

#copy2:active
{
    background-color: #ea4335;
}

#inputDiv
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#inputDivTitle
{
    text-align: center;
    font-size: 30px;
}

#inputDiv
{
    border: 1px solid #c4c4c4;
    border-radius: 30px;
    transition: all 0.2s ease;
}

#decodeDiv
{
    border: 1px solid #c4c4c4;
    border-radius: 30px;
    transition: all 0.2s ease;
}

#inputDiv:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#inputDivTitleDecode
{
    text-align: center;
    font-size: 30px;
}

#decodeDiv:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#decodeDivTitleDecode
{
    text-align: center;
    font-size: 30px;
}

#outputEncode
{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    transition: all 0.2s ease;
    padding: 15px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    cursor: copy;
    height: 70px;
    min-height: 70px;
    margin-left: 25px;
    margin-right: 25px;
    overflow-y: scroll;
    scrollbar-track-color: transparent;
}

#outputDecode
{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    transition: all 0.2s ease;
    padding: 15px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    cursor: copy;
    height: 70px;
    min-height: 70px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}

#outputEncode:focus
{
    outline: none;
}

#outputEncode:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#inputEncode
{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    transition: all 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#inputEncode:focus
{
    outline: none;
}

#inputEncode:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#inputDecode
{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    transition: all 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#inputDecode:focus
{
    outline: none;
}

#inputDecode:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#outputDecode:focus
{
    outline: none;
}

#outputDecode:hover
{
    box-shadow: 1px 1px 5px #c4c4c4;
}

#decodebuttondiv
{
    width: 1fr;
    height: 20px;
}

#inputDecode
{
    height: 25px;
}

#base64
{
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}