html
{
    font-family: Arial, Helvetica, sans-serif;
}

#container
{
    width: 1000px;
    height: 100vh;
    margin: 20px auto;
}

#calculator
{
    width: 640px;
    height: 1040px;
    margin: 0 auto;
    top: 40px;
    position: relative;
    border-radius: 56px;
    background: #F1F3F4;
    box-shadow:  14px 14px 39px #d2d3d4,
                 -14px -14px 39px #ffffff;
}

#bottom
{
    position: fixed;
    bottom: 0;
    padding-left: 18px;
    padding-bottom: 10px;
    left: 0;
}

#result
{
    height: 240px;
}

#keyboard
{
    height: 800px;
}

#history
{
    text-align: right;
    height: 40px;
    margin: 0 40px;
    padding-top: 40px;
    font-size: 30px;
    color: #535353;
}

#output
{
    text-align: right;
    color: #202124;
    height: 120px;
    margin: 20px 40px;
    font-size: 36px;
}

.operator, .number
{
    width: 100px;
    height: 100px;
    border-radius: 56px;
    border: none;
    background: rgb(227, 229, 231);
    margin: 30px;
    float: left;
    cursor: pointer;
    font-size: 30px;
}

.operator
{
    color: white;
}


.operator:active, .number:active
{
    border-radius: 56px;
    background: #F1F3F4;
    color: #535353;
}

.empty
{
    box-shadow: none;
    width: 100px;
    height: 100px;
    border-radius: 56px;
    border: none;
    background: transparent;
    margin: 30px;
    float: left;
}